<div class="bg-repeat bg-image" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2Ff%2F0%2Fb%2F833860-download-simple-desktop-wallpaper-1920x1080-for-mac.jpg&f=1&nofb=1&ipt=3ce9940c562796e53dc644aa9078a531454eeb1cf2f02de4f1965545e2cd44b5&ipo=images'); height: 120vh;"> 
  <%= render "app/title" %>

  <div class="container-fluid d-flex justify-content-center align-items-center">
    <h3>
      Select the options for your playlist
    </h3>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center">

    <%= form_with url: '/playlist', method: "post", class: "form-group" do |f| %>
      <%= f.hidden_field :token, value: @token %>

      <div>
        <%= f.label "Genre" %>
        <%= f.select :genre, options_for_select(@genres.map(&:capitalize)),
                    {class: "form-control", prompt: "Select a genre"} %>
      </div>
      <div>
        <%= f.label "Workout Type" %>
        <%= f.select :workout, options_for_select(%w[Strength Endurance HIIT Yoga Restore]),
                    {class: "form-control", prompt: "Select a workout"} %>
      </div>
      <%= f.submit "Create My Playlist", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>