<%= render "app/title" %>

<div class="container-fluid py-4 d-flex justify-content-center align-items-center">
  <a href="<%= "http://localhost:5000/generate_playlist?tkn=#{@token}"%>"> 
    <button type="button" class="btn btn-primary">Create Another Playlist</button>
  </a>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
  <h3><%= @playlist_info.name %></h3>
</div>
<div class="container-fluid py-4 d-flex justify-content-center align-items-center"> 
  <h4>Number of Songs: <%= @playlist_info.total %></h4>
</div>

<div class="container-fluid py-4 d-flex justify-content-center align-items-center">
  <a href="<%= @playlist_info.url%>"> 
    <button type="button" class="btn btn-success">Listen on Spotify</button>
  </a>
</div>

<div class="container-fluid py-4 d-flex justify-content-center align-items-center">
  <div class="table-responsive-xxl">
    <table class="table table-hover table-dark text-center align-middle">
      <thead>
        <tr>
          <th scope='col'>Track #</th>
          <th scope='col'>Album Image</th>
          <th scope="col">Track Name</th>
          <th scope="col">Artist Name</th>
        </tr>
      </thead>
      <tbody>
        <% @playlist_info.list_of_songs_and_artist[:tracks].each_with_index do |track, index| %>
          <tr class="mb-2"><!-- Add margin-bottom between rows -->
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <img src="<%= track[:image] %>">
            </td>
            <td class="px-2 py-1 track-name"><!-- Add padding to cells -->
              <%= track[:name] %>
            </td>
            <td class="px-2 py-1 artist-name">
              <%= track[:artist] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

